.copy-button{
    font-size:inherit;
    cursor: pointer;
    mat-icon, img{
        height:100%;
        width:100%;
        font-size:120%;
        margin-top: 1%;
        padding-right: 3%;
    }
}