<div id="contact">
    <div class="container" fxLayout="column" fxLayoutAlign="start start">
        <span class="text-large">Roxanne Boucher</span>
        <span class="text-small" fxLayout="row wrap" fxLayoutAlign="start center">
            <copy-button icon="email" copyText="roxanneboucher4@gmail.com"></copy-button><a href="mailto:roxanneboucher4@gmail.com">roxanneboucher4@gmail.com</a>
            <span class="contact-linkedin">
                <img src="../../../assets/linkedin.svg">
                <a href="https://au.linkedin.com/in/roxanne-boucher-4b50b137" target="_blank">LinkedIn</a>
            </span>
        </span>
        <span class="text-small">Hey! I'm a digital designer passionate about creating the best experience for the end user.</span>
        <span class="text-small">I have experience in UI/UX, rebranding, motion design, a little HTML/CSS, graphic design and email marketing, so i thrive in a role that allows me to combine many skills and to adopt new ones.</span>
    </div>
</div>