<div id="about" fxLayout="row wrap">
  <div fxLayout="column" fxLayoutAlign="center center" fxFlex fxFlexOrder.lt-md="1">
    <div fxLayout="column" fxLayoutAlign="start start" class="about-inner">
      <span class="text-large">About Me</span>
      <span class="text-small">My name is Roxanne Boucher and I love a challenge to portray messages/products in the digital world.</span>
      <span class="text-small">My background consists of rebranding, marketing emails, motion design, UI/UX design and print, so I thrive in a role that allows me to combine many skills and to adopt new ones.</span>
    </div>
  </div>
  <div fxFlex="50" fxFlex.gt-md="30" fxFlex.lt-md="100">
    <img src="/assets/about.jpg" width="100%">
  </div>
</div>
