#header{
    height:100vh;
    background-image:url(/assets/header.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#header-content{
    width: 90%;
}