button{
    border: solid 2px #3d4d55;
    padding: 1em 2em;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-size: 100%;
    font-weight: 600;
}
.mat-icon{
    height:100%;
    width:100%;
    font-size:130%;
}
.mat-icon-right{
    margin-left:8%;
}
.mat-icon-left{
    margin-right:8%;
}