<div id="nav">
  <div id="nav-inner" fxLayout="row" fxLayoutAlign="start center" class="container">
    <div id="nav-logo" routerLink="/"></div>
    <div id="nav-text" fxLayout="row">
      <span roxScroll="work" roxScrollTopOffset="70" roxScrollNavigate="/">WORK</span>
      <span roxScroll="contact" roxScrollTopOffset="70" roxScrollNavigate="/">CONTACT</span>
    </div>
    <!-- <div [ngClass]="{'open': open}" id="nav-icon" (click)="open = !open" fxHide.gt-sm>
        <span></span>
        <span></span>
        <span></span>
      </div>
  </div>
  <div id="menu" *ngIf="open" [@enterAnimation] fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="30px">
      <span (click)="open = false" roxScroll="work" roxScrollTopOffset="70" roxScrollNavigate="/">WORK</span>
      <span (click)="open = false" roxScroll="about" roxScrollTopOffset="70" roxScrollNavigate="/">ABOUT</span>
      <span (click)="open = false" roxScroll="contact" roxScrollTopOffset="70" roxScrollNavigate="/">CONTACT</span>
  </div> -->
</div>
</div>